@import './var.scss';

.body {
    height: 90%;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 8px;
        background: none;             
    }

    &::-webkit-scrollbar-thumb {
        background: $main_dark;
    }

    &__msg {
        width: 100%;
        height: 100%;
        display: flex;
        padding-bottom: 4em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $text_innactive;
        user-select: none;

        svg {
            width: 15em;
        }

        &-subtitle {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }

        button {
            margin-top: 1em;
            padding: .4em .8em;
            color: $shade_blue;
            font-weight: 500;
            font-size: 14px;
            background: $shade_lightBlue;
            border-radius: 4px;
            transition: .3s;

            &:hover {
                background: $shade_blue;
                color: $main_light;
            }
        }
    }

    &__header {
        width: 100%;
        height: fit-content;
        user-select: none;
        padding-bottom: .5em;

        &-cover {
            width: 100%;
            height: 12em;
            position: relative;
            user-select: none;
            overflow: hidden;

            .cover__modal {
                z-index: 4;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                bottom: -4em;
                width: fit-content;
                height: fit-content;
                position: absolute;
                background: $main_light;
                border-radius: 4px;
                
                &-tab {
                    width: 100%;
                    padding: .4em 1em;
                    display: flex;
                    gap: 2em;
                    justify-content: center;
                    color: $text_innactive;
                    border-bottom: 1px solid $main_dark;
                    font-size: 13px;
                    font-weight: 500;

                    li {
                        list-style: none;
                        cursor: pointer;
                        transition: .3s;

                        &:hover {
                            color: $text_active
                        }
                    }
                }

                .react-tabs__tab-panel--selected {
                    padding: .4em;
                }

                &-color {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    button {
                        color: $shade_blue;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }

                &-link {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    input {
                        outline: none;
                        border: 1px solid $main_dark;
                        font-size: 13px;
                        font-family: inherit;
                        font-weight: 500;
                        color: $text_innactive;
                        background: $main_mid;
                        border-radius: 2px;
                        padding: .2em;
        
                        &:focus {
                            outline: none;
                        }
                    }
                }

                &-upload {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    
                    label {
                        color: $shade_blue;
                        font-size: 13px;
                        font-weight: 500;
                    }

                    p {
                        font-size: 13px;
                        font-weight: 500;
                        color: $text_innactive;
                        text-align: center;
                    }
                }
            }

            &:hover .cover__actions {
                display: block;
            }
            
            .cover__actions {
                z-index: 3;
                width: fit-content;
                height: fit-content;
                display: none;
                overflow: hidden;
                background: $main_light;
                border: 1px solid $main_dark;
                border-radius: 4px;
                position: absolute;
                bottom: 20px;
                right: 20px;

                button, label {
                    height: 100%;
                    padding: 0 .5em;
                    font-weight: 500;
                    font-size: 13px;
                    color: $text_innactive;
                    transition: .3s;

                    &:hover {
                        color: $text_active;
                    }
                }

                button:nth-child(2) {
                    border-left: 1px solid $main_dark;
                    border-right: 1px solid $main_dark;
                }
            }
            
            .cover-image {
                top: 50%;
                left: 50%;
                image-rendering: optimizeQuality;
                transform: translate(-50%, -50%);
                position: absolute;
                width: 100%;
                z-index: 2;
            }

            
        }

        &-info {
            padding: 2em 15% 1em 15%;
            width: 100%;

            .info-filename {
                font-size: 40px;
                font-weight: 700;
            }

            .info-date {
                font-size: 14px;
                font-weight: 500;
                color: $text_innactive;
            }
        }

        &-actions {
            width: 100%;
            padding: 0 15% 1em 15%;
            display: flex;
            align-items: center;
            gap: .8em;
            color: $text_innactive;
            font-size: 13px;
            position: relative;
            z-index: 2;

            .status-block {
                width: 13px;
                aspect-ratio: 1/1;
                background: $main_mid;
                border-radius: 2px;
            }

            button {
                height: fit-content;
                color: inherit;
                transition: .3s;
                font-weight: 600;
                border-radius: 4px;
            }

            button:nth-child(2) {
                color: $shade_blue;

                i {
                    position: relative;
                    top: 1px;
                } 
            }

            .status {
                position: absolute;
                top: 2em;
                width: 5em;
                height: fit-content;
                border: 1px solid $main_dark;
                border-radius: 4px;
                background: $main_light;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                &__btn {
                    border-radius: 0;
                    padding: .2em;
                    text-align: left;
                    width: 100%;
                    transition: .3s;
                    color: $text_innactive !important;
                }

                button:nth-child(2) {
                    border-top: 1px solid $main_dark;
                    border-bottom: 1px solid $main_dark;
                }
            }
        }

        &-input {
            padding: 0 15%;
        }
    }
}