@import './var.scss';

.body {
    height: 90%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

    &__notif {
        z-index: 10;
        bottom: 3em;
        left: 50%;
        position: fixed;
        padding: .4em 1em;
        transform: translateX(-50%);
        background: #202020;
        color: $main_light;
        border-radius: 4px;

        &-text {
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__msg {
        width: 100%;
        height: 100%;
        display: flex;
        padding-bottom: 4em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $text_innactive;
        user-select: none;

        svg {
            width: 15em;
        }

        &-subtitle {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }

        button {
            margin-top: 1em;
            padding: .4em .8em;
            color: $shade_blue;
            font-weight: 500;
            font-size: 14px !important;
            background: $shade_lightBlue !important;
            border-radius: 4px;
            transition: .3s;

            &:hover {
                background: $shade_blue;
                color: $main_light;
            }
        }
    }

    &__header {
        width: 100%;
        height: fit-content;
        user-select: none;
        padding-bottom: .5em;

        &-cover {
            width: 100%;
            height: 12em;
            position: relative;
            overflow: hidden;

            .cover__modal {
                z-index: 3;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                bottom: -4em;
                width: fit-content;
                height: fit-content;
                position: absolute;
                background: $main_light;
                border-radius: 4px;
                
                &-tab {
                    width: 100%;
                    padding: .4em 1em;
                    display: flex;
                    gap: 2em;
                    justify-content: center;
                    color: $text_innactive;
                    border-bottom: 1px solid $main_dark;
                    font-size: 14px;
                    font-weight: 600;

                    li {
                        list-style: none;
                        cursor: pointer;
                        transition: .3s;

                        &:hover {
                            color: $text_active
                        }
                    }

                    button {
                        font-weight: inherit;
                        color: inherit;
                        transition: .3s;

                        &:hover {
                            color: $text_active
                        }
                    }
                }

                .react-tabs__tab-panel--selected {
                    padding: .5em;
                }

                &-color {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    button {
                        color: $shade_blue;
                        font-size: 13px;
                        font-weight: 500;
                        transition: .3s;
                    }

                    .react-colorful {
                        height: 5em;
                        width: 15em;
                        margin-top: .5em;

                        .react-colorful__saturation {
                            border-radius: 4px 4px 0 0;
                        }

                        .react-colorful__hue {
                            border-radius: 0 0 4px 4px;
                        }

                        .react-colorful__hue-pointer,
                        .react-colorful__saturation-pointer {
                            width: 13px;
                            height: 13px;
                        }
                    }
                }

                &-link {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    input {
                        width: 20em;
                        outline: none;
                        border: 1px solid $main_dark;
                        font-size: 13px;
                        font-family: inherit;
                        font-weight: 500;
                        color: $text_innactive;
                        background: $main_mid;
                        border-radius: 2px;
                        padding: .2em;
        
                        &:focus {
                            outline: none;
                        }
                    }
                }

                &-upload {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    
                    label {
                        background: $shade_lightBlue;
                        color: $shade_blue;
                        padding: .3em 5em;
                        border-radius: 4px;
                        font-size: 13px;
                        font-weight: 500;
                        transition: .3s;

                        &:hover {
                            background: $shade_blue;
                            color: $main_light;
                        }
                    }

                    p {
                        margin-top: .5em;
                        font-size: 13px;
                        font-weight: 500;
                        color: $text_innactive;
                        text-align: center;
                    }
                }
            }

            &:hover .cover__actions {
                display: block;
            }
            
            .cover__actions {
                z-index: 2;
                width: fit-content;
                height: fit-content;
                display: none;
                overflow: hidden;
                background: $main_light;
                border: 1px solid $main_dark;
                border-radius: 4px;
                position: absolute;
                bottom: 20px;
                right: 20px;

                button {
                    height: 100%;
                    padding: 0 .5em;
                    font-weight: 500;
                    font-size: 13px;
                    color: $text_innactive;
                }

                &:hover {
                    background: $main_mid;
                }
            }
            
            .cover-image {
                top: 50%;
                left: 50%;
                image-rendering: optimizeSpeed;
                transform: translate(-50%, -50%);
                position: absolute;
                width: 100%;
            }            
        }

        &-info {
            padding: 2em 15% 1em 15%;
            width: 100%;

            .info-name {
                width: fit-content;
                height: fit-content;
                transition: .3s;
                cursor: pointer;

                input {
                    font-size: 40px;
                    font-weight: 700;
                    font-family: inherit;
                    border: none;
                    padding-bottom: .2em;


                    &:focus {
                        outline: none;
                    }

                    &:disabled {
                        color: $text_active;
                        background: none;
                        cursor: pointer;
                    }
                }
            }    

            .info-date {
                font-size: 14px;
                font-weight: 500;
                color: $text_innactive;
            }
        }

        &-actions {
            width: 100%;
            padding: 0 15% 1em 15%;
            display: flex;
            align-items: center;
            gap: .5em;
            color: $text_innactive;
            font-size: 13px;
            position: relative;
            z-index: 2;

            .status-block {
                width: 13px;
                aspect-ratio: 1/1;
                background: $main_mid;
                border-radius: 2px;
            }

            .actions__delete {
                color: $shade_red;
            }

            button {
                display: flex;
                align-items: center;
                gap: .5em;
                padding: .2em .4em;
                height: fit-content;
                color: inherit;
                font-weight: 600;
                border-radius: 4px;
                
                &:hover {
                    background: $main_mid;
                }
            }

            .status {
                top: 2em;
                width: 8em;
                height: fit-content;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .5em;
                padding: .2em;
                border: 1px solid $main_dark;
                border-radius: 4px;
                background: $main_light;
                box-shadow: 0 5px 10px 0px rgba(0,0,0,0.05);
                
                &__btn {
                    width: 100%;
                    display: flex;
                    gap: .5em;
                    padding: .2em;
                    font-size: 13px;
                    font-weight: 600;
                    text-align: left;
                    color: $text_innactive;
                    
                    &-stats {
                        width: 13px;
                        aspect-ratio: 1/1;
                        border-radius: 2px;
                    }

                    &:hover {
                        color: $text_active;
                        background: none;
                    }
                }

                button:nth-child(1) > div { background: $main_dark; }
                button:nth-child(2) > div { background: $shade_yellow; }
                button:nth-child(3) > div { background: $shade_green; }
                button:nth-child(4) > div { background: $shade_red; }
            }
        }

        &-split {
            padding: 0 15%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            position: relative;

            .input {
                width: 100%;
                height: 100%;
                padding: .5em;
                resize: none;
                border: none;
                font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.3rem;

                &:focus {
                    outline: none;
                }

                &::-webkit-scrollbar {
                    width: 0;
                }
            }

            .view {
                // Global stylesheet
                padding: .5em;
                font-size: 14px;
                border-left: 1px solid $main_dark;

                // Header stylesheet
                h1, h2, h3 { font-weight: 600; }
                h4, h5, h6 { font-weight: 500; }
                h1 { font-size: 32px; }
                h2 { font-size: 24px; }
                h3 { font-size: 18.72px; }
                h4 { font-size: 16px; }
                h5 { font-size: 13.28px; }
                h6 { font-size: 10.72px; }

                // Other text stylesheet
                p { line-height: 1.3rem; text-align: justify; }
                a { color: $shade_blue; }

                blockquote {
                    border-left: 5px solid $main_mid;
                    margin: .5em 0;
                    padding: .5em 10px;
                    font-weight: 500;
                    font-style: italic;
                }
            
                // List stylesheet
                ol, ul { padding-left: 1.2em; }
            
                .contains-task-list {
                    padding: 0;
                    list-style: none;
                    line-height: 1.5em;

                    .task-list-item {
                        input[type="checkbox"]:disabled {

                            &:checked {
                                background: blue !important;
                                accent-color: blue !important;
                                color: blue !important;
                                accent-color: blue !important;    
                            }
                        }
                    
                        ul {
                            li {
                                margin-left: 1.2em;   
                            }
                        }
                    }
                }
            
                // Codeblock stylesheet
                code {
                    background: $main_mid;
                    border-radius: 2px;
                    padding: .2em;
                    font-size: 14px !important;
                    font-family: 'JetBrains Mono', Courier, monospace !important;
                }
            
                pre {
                    background: $main_mid;
                    border-radius: 2px;
                    padding: .2em 1em;

                    div {
                        font-size: 20px;

                        code {
                            padding: 0;
                            background: none;
                            border-radius: 0;
                            font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
                        }  
                    }
                }
            
                hr {
                    width: 100%;
                    height: .5px;
                    outline: none;
                    border: none;
                    margin: 1em 0;
                    background: $text_innactive;
                }
            
                // Table stylesheet
                table {
                    border: 1px solid $main_dark;
                    padding: 0;
                    margin: 0;                    
                
                    thead {
                        background: $main_mid;
                        font-weight: 500;
                    
                        tr {          
                            padding: 0;
                            margin: 0;
                        
                            th {
                                font-weight: 600;
                                padding: .2em 2em;
                            }
                        }
                    }
                
                    tbody {
                        font-size: 14px;
                        text-align: center;
                    }
                }
            
                // Katex stylesheet
                .katex-display {
                    width: fit-content;
                    background: $main_mid;
                    border-radius: 2px;
                    padding: .5em 1em;
                    display: flex;
                }
            }
        }

        &-main {
            padding: 0 15%;
            width: 100%;
            position: relative;

            .input {
                width: 100%;
                height: 100%;
                resize: none;
                border: none;
                font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
                font-weight: 400;
                font-size: 14px;
                text-align: justify;
                line-height: 1.3rem;

                &:focus {
                    outline: none;
                }

                &::-webkit-scrollbar {
                    width: 0;
                }
            }

            .view {
                // Global stylesheet
                font-size: 14px;
             
                // Header stylesheet
                h1, h2, h3 { font-weight: 600; }
                h4, h5, h6 { font-weight: 500; }
                h1 { font-size: 32px; }
                h2 { font-size: 24px; }
                h3 { font-size: 18.72px; }
                h4 { font-size: 16px; }
                h5 { font-size: 13.28px; }
                h6 { font-size: 10.72px; }

                // Other text stylesheet
                p { line-height: 1.3rem; text-align: justify; }
                a { color: $shade_blue; }

                blockquote {
                    border-left: 5px solid $main_mid;
                    margin: .5em 0;
                    padding: .5em 10px;
                    font-weight: 500;
                    font-style: italic;
                }

                // List stylesheet
                ol, ul { padding-left: 1.2em; }

                .contains-task-list {
                    padding: 0;
                    list-style: none;
                    line-height: 1.5em;

                    .task-list-item {
                        input {
                            accent-color: $shade_blue;
                            position: relative;
                            top: 1px;
                        }

                        ul {
                            li {
                                margin-left: 1.2em;   
                            }
                        }
                    }
                }

                // Codeblock stylesheet
                code {
                    background: $main_mid;
                    border-radius: 2px;
                    padding: .2em;
                    font-size: 14px !important;
                    font-family: 'JetBrains Mono', Courier, monospace !important;
                }

                pre {
                    background: $main_mid;
                    border-radius: 2px;
                    padding: .2em 1em;
                    
                    div {
                        font-size: 20px;
                        
                        code {
                            padding: 0;
                            background: none;
                            border-radius: 0;
                            font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
                        }  
                    }
                }

                hr {
                    width: 100%;
                    height: .5px;
                    outline: none;
                    border: none;
                    margin: 1em 0;
                    background: $text_innactive;
                }

                // Table stylesheet
                table {
                    border: 1px solid $main_dark;
                    padding: 0;
                    margin: 0;                    

                    thead {
                        background: $main_mid;
                        font-weight: 500;

                        tr {          
                            padding: 0;
                            margin: 0;

                            th {
                                font-weight: 600;
                                padding: .2em 2em;
                            }
                        }
                    }

                    tbody {
                        font-size: 14px;
                        text-align: center;
                    }
                }

                // Katex stylesheet
                .katex-display {
                    width: fit-content;
                    background: $main_mid;
                    border-radius: 2px;
                    padding: .5em 1em;
                    display: flex;
                }
            }
        }
    }
}