@import './var.scss';

.cm-editor {
    background: $main_light;
    outline: none !important;
    color: $text_active;
    
    &.ͼ1 .cm-scroller {
        font-size: 14px;
        font-family: 'JetBrains Mono', monospace;
    }

    &.cm-focused .cm-selectionBackground {
        background: $main_mid;
    }

    .cm-activeLine {
        background: $main_mid;
    }

    .cm-matchingBracket,
    .cm-focused .cm-matchingBracket {
        background: $shade_lighterBlue !important;
    }
}

.cm-gutter {
    background: $main_light;
    color: $text_innactive;
    user-select: none;

    .cm-activeLineGutter {
        background: $main_dark !important;
    }
}

// Syntax stylesheet
.ͼ6 {
    color: $gb-lm-dark-aqua;
    font-weight: bold;
}

.ͼ6.ͼc,
.ͼ6.ͼ5 {
    color: $gb-lm-dark-blue !important;
    font-weight: normal;
}

.ͼ7.ͼ5 {
    color: $gb-lm-light-blue;
}

.ͼ7 {
    color: $gb-lm-dark-blue;
    text-decoration: none;
    font-weight: bold;
}

.ͼ8 {
    color: $gb-lm-dark-yellow;
}

.ͼ9 {
    color: $gb-lm-dark-orange;
}


