@import './var.scss';

.side {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    background: $main_mid;
    user-select: none;
    padding: .5em .8em;

    &__header {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        padding: 0 0 .5em 0;

        &-logo {
            display: flex;
            align-items: center;
            gap: .2em;
            
            svg {
                position: relative;
                bottom: 1px;
            }

            p {
                font-size: 13px;
                font-weight: 700;

                span {
                    color: $text_innactive;
                }
            }
        }

        button {
            color: $text_innactive;
            padding: .1em .2em;
            border-radius: 4px;
            transition: .3s;
            display: flex;
            align-items: center;

            &:hover {
                background: $main_dark;
            }
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 0;
        gap: .5em;
        border-top: 1px solid $main_dark;
        border-bottom: 1px solid $main_dark;
        
        button {
            font-size: 14px !important;
            font-weight: 600;
            text-align: left;
            color: $text_innactive;
            display: flex;
            align-items: center;
            gap: .5em;
        }
    }

    &__status {
        padding: .5em 0 0 0;

        &-btn {
            width: 100%;
            display: flex;
            justify-content: flex-start;    
            padding: 0 0 .5em 0;

            button:nth-child(1) {
                display: flex;
                align-items: center;
                gap: .5em;
            }

            button {
                font-size: 14px !important;
                font-weight: 600;
                color: $text_innactive;
            }
        }

        &-list {
            padding: 0 0 1em 0;

            .list {
                display: flex;
                align-items: center;
                gap: .5em;
                margin: .5em .8em;
                font-size: 14px;
                font-weight: 500;
                color: $text_innactive;
                cursor: pointer;

                &__stats {
                    width: 13px;
                    height: 13px;
                    border-radius: 2px;
                }
            }

            ul:nth-child(1) > div { background: $main_dark; }
            ul:nth-child(2) > div { background: $shade_yellow; }
            ul:nth-child(3) > div { background: $shade_green; }
            ul:nth-child(4) > div { background: $shade_red; }
        }
    }

    &__notes {
        &-btn {
            width: 100%;
            display: flex;
            justify-content: space-between;    
            padding: 0 0 .5em 0;

            button:nth-child(1) {
               display: flex;
               align-items: center;
               gap: .5em;
            }

            button {
                font-size: 14px !important;
                font-weight: 600;
                color: $text_innactive;
            }
        }

        &-list {
            overflow-y: scroll;
            width: 100%;
            height: 28em;
            position: relative;

            &::-webkit-scrollbar {
                width: 0; 
            }

            .note {
                height: fit-content;
                width: 13em;
                display: flex;
                align-items: center;
                gap: .5em;
                margin: 0 .5em;                
                padding: .2em;
                cursor: pointer;
                border-radius: 4px;

                &__stats {
                    width: 13px;
                    height: 13px;
                    border-radius: 2px;
                    background: $main_dark;
                }

                &__title {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}

.spotlight {
    z-index: 10;
    top: 100px;
    left: 50%;
    width: 18em;
    height: fit-content;
    transform: translateX(-50%);
    position: fixed;
    background: $main_light;
    border: 1px solid $main_dark;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.05);

    &__input {
        width: 100%;
        height: fit-content;
        position: relative;
        padding: .5em;
        display: flex;
        gap: .5em;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 1px solid $main_dark;
        
        &-icon {
            height: 100%;
            width: fit-content;
            display: flex;
            color: $text_innactive;
        }

        input {
            height: 100%;
            width: 100%;
            border: none;
            font-size: 16px;
            font-weight: 500;
            font-family: inherit;
            
            &:focus {
                outline: none;
            }
        }
    }

    &__result {
        width: 100%;
        height: fit-content;
        position: relative;
        padding: .5em;
        border-top: 1px solid $main_dark;        
        
        &-list {
            .note {
                width: 100%;
                height: fit-content;
                display: flex;
                align-items: center;
                gap: .5em;
                padding: .5em;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                border-radius: 4px;

                &__stats {
                    width: 13px;
                    height: 13px;
                    border-radius: 2px;
                    background: $main_dark;
                }

                &:hover {
                    background: $main_mid;
                }
            }

            .result-list-warn {
                width: 100%;
                text-align: center;
    
                h3 {
                    font-size: 14px;
                    font-weight: 600;
                }
    
                p {
                    margin: 0 2em;
                    color: $text_innactive;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

       
    }
}