@import './var.scss';

.side {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    background: $main_mid;
    user-select: none;
    padding: .5em .8em;

    &__header {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        padding: 0 0 .5em 0;

        &-logo {
            display: flex;
            align-items: center;
            gap: .2em;
            
            svg {
                position: relative;
                bottom: 1px;
            }

            p {
                font-size: 13px;
                font-weight: 700;

                span {
                    color: $text_innactive;
                }
            }
        }

        button {
            color: $text_innactive;
            padding: .1em .2em;
            border-radius: 4px;
            display: flex;
            align-items: center;

            &:hover {
                background: $main_dark;
            }
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 0;
        gap: .5em;
        border-top: 1px solid $main_dark;
        border-bottom: 1px solid $main_dark;
        
        button {
            font-size: 14px !important;
            font-weight: 600;
            text-align: left;
            color: $text_innactive;
            display: flex;
            align-items: center;
            gap: .5em;

            &:hover {
                color: $text_active;
            }
        }
    }

    &__status {
        padding: .5em 0;

        &-btn {
            width: 100%;
            display: flex;
            justify-content: space-between;    
            padding: 0 0 .5em 0;

            button {
                display: flex;
                align-items: center;
                gap: .5em;
                font-size: 14px !important;
                font-weight: 600;
                color: $text_innactive;
                cursor: default !important;
            }
        }

        &-list {
            height: fit-content;
            width: 100%;
            padding: .3em .3em .3em 1.3em;

            .list__btn {
                display: flex;
                align-items: center;
                gap: .5em;
                font-size: 14px;
                font-weight: 600;
                color: $text_innactive;
                
                .fa-solid {
                    margin-right: .4em;
                }

                &-stats {
                    width: 13px;
                    height: 13px;
                    border-radius: 2px;
                }
                
                &-stats.active { background: $main_dark; }
                &-stats.delayed { background: $shade_yellow; }
                &-stats.completed { background: $shade_green; }
                &-stats.dropped { background: $shade_red; }
                
                &:hover {
                    color: $text_active;
                }
            }
            
            .list__notes {
                padding: .5em 0 0 0;
                overflow-y: scroll;
                width: 100%;
                position: relative;
    
                &::-webkit-scrollbar {
                    width: 0; 
                }

                .note {
                    height: fit-content;
                    width: 100%;
                    padding: .3em .3em .3em 1.3em;
                    border-radius: 4px;
                    cursor: pointer;

                    &__title {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    &:hover {
                        background: $main_dark;
                    }
                }
            }
        }

    }

    &__notes {
        padding-top: .2em;

        &-btn {
            width: 100%;
            display: flex;
            justify-content: space-between;    
            padding: 0 0 .5em 0;

            button:nth-child(1) {
               display: flex;
               align-items: center;
               gap: .5em;
               cursor: default;
            }

            button:nth-child(2) {
                &:hover {
                    color: $text_active;
                }
            }

            button {
                font-size: 14px !important;
                font-weight: 600;
                color: $text_innactive;
            }
        }

        &-list {
            overflow-y: scroll;
            width: 100%;
            height: 28em;
            position: relative;

            &::-webkit-scrollbar {
                width: 0; 
            }

            .note {
                height: fit-content;
                width: 100%;
                padding: .3em .3em .3em 1.3em;
                border-radius: 4px;
                cursor: pointer;

                &__stats {
                    width: 13px;
                    height: 13px;
                    border-radius: 2px;
                    background: $main_dark;
                }

                &__title {
                    font-size: 14px;
                    font-weight: 500;
                }

                &:hover {
                    background: $main_dark;
                }
            }

            .note.active {
                background: red;
            }
        }
    }
}

.spotlight {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: initial;
    user-select: none;
    
    &__container {
        top: 5em;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        height: 12em;
        width: 22em;
        display: block;
        background: $main_light;
        border: 1px solid $main_dark;
        border-radius: 4px;
        box-shadow: 0 5px 10px 0px rgba(0,0,0,0.05);
        overflow: hidden;

        &-input {
            padding: .5em 1em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: .5em;
            border-bottom: 1px solid $main_dark;
            color: $text_innactive;

            input {
                height: 100%;
                width: 100%;
                border: none;
                font-size: 14px;
                font-family: inherit;
                font-weight: 500;

                &:focus {
                    outline: none;
                }
            }

            button {
                height: 100%;
                display: flex;
                color: inherit;
            }
        }

        &-tips {
            width: 100%;
            padding: .5em 1em;
            display: flex;
            align-items: center;

            .tip {
                font-size: 14px;
                font-weight: 500;
                color: $text_innactive;

                span {
                    font-weight: 600;
                }

                code {
                    background: $main_mid;
                    border-radius: 4px;
                    padding: .1em .4em;
                    font-weight: 600;
                }
            }
        }

        &-result {
            width: 100%;
            height: 55%;
            padding: .5em 1em;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 0;
            }

            .note {
                width: 100%;
                height: fit-content;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: .5em;
                padding: .5em;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                transition: .3s;

                &__stats {
                    width: 13px;
                    height: 13px;
                    border-radius: 2px;
                    background: $main_dark;
                }

                &__action {
                    right: .5em;
                    position: absolute;
                    color: $text_innactive;
                    font-weight: inherit;  
                }

                &:hover {
                    background: $main_mid;
                }
            }

            .note:focus {
                background: red;
            }

            .result__warn {
                padding-top: 1em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                
                p {
                    color: $text_innactive;
                    margin: 0 4em;
                }
            }
            
            .result__commands {
                .command {
                    width: 100%;
                    height: fit-content;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: .5em;
                    padding: .5em;
                    font-size: 14px;
                    font-weight: 500;
                    color: $text_innactive;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: .3s;

                    &__action {
                        position: absolute;
                        right: .5em;
                    }

                    &:hover {
                        background: $main_mid;
                    }
                }
            }
        }
    }
}