@import './var.scss';

.top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: .5em .8em;
    color: $text_innactive;
    user-select: none;

    button {
        color: inherit;
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: .1em .2em;

        &:hover {
            background: $main_mid;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: .5em;
        
        &-filename {
            font-size: 14px;
            font-weight: 600;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: .3em; 
    }
}

.submenu {
    z-index: 10;
    right: .8em;
    top: 3em;
    width: 12em;
    height: fit-content;
    position: fixed;
    padding: .5em;
    border: 1px solid $main_dark;
    border-radius: 4px;
    background: $main_light;
    color: $text_innactive;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.05);
    user-select: none;

    &__title {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: .5em;
    }

    &__actions {
        width: 100%;
        height: fit-content;
        border-top: 1px solid $main_dark;
        border-bottom: 1px solid $main_dark;
        padding: .2em 0;

        &-switch {
            width: 100%;
            padding: .5em;
            display: flex;
            gap: .5em;

            .toggle {
                position: relative;
                display: flex;
                justify-content: flex-start;
                width: 32px;
                height: 18px;
                background: $main_dark;
                border-radius: 50px;
                overflow: hidden;
                padding: 1px;
            }

            .toggle:after {
                content: '';
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 50px;
                background: $main_light;
            }

            .switch:checked + .toggle {
                justify-content: flex-end;
            }

            .switch:checked + .toggle {
                background: $shade_blue;
            }

            label {
                font-size: 14px;
                font-weight: 600;
            }
        }

        &-import {
            border-radius: 4px;
            padding: .5em;

            label {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: .5em;
                font-size: 14px;
                font-weight: 600;
            }

            &:hover {
                background: $main_mid;
            }
        }

        &-export {
            border-radius: 4px;
            padding: .3em .5em;

            label {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: .5em;
                font-size: 14px;
                font-weight: 600;

                span {
                    pre {
                        font-weight: 500;
                        font-family: inherit;
                    }
                }
            }

            &:hover {
                background: $main_mid;
            }
        }
    }

    &__info {
        width: 100%;
        height: fit-content;
        padding: .2em 0;

        li {
            padding: .5em;
            font-size: 14px;
            font-weight: 600;
            border-radius: 4px;
            list-style: none;

            a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: .5em;
            }
        
            &:hover {
                background: $main_mid;
            }
        }
    }
}

.share {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: #000000, $alpha: 0.2);
    user-select: none;
    z-index: 10;

    &__container {
      width: 22em;
      height: fit-content;
      position: fixed;
      padding: 2em 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $main_light;
      border-radius: 4px;

      &-header {
        text-align: center;
        margin-bottom: 1em;

        & > h3 {
          font-size: 16px;
          font-weight: 600;
          margin: .5em 0;
        }

        & > p {
          margin: 0 2em;
          text-align: center;
          font-weight: 500;
          font-size: 14px;
          color: $text_innactive;
        }
      }

      &-qr {
        margin-bottom: 1em;
      }

      & :nth-child(3) {
        background: $main_mid;
        border-radius: 4px;
        padding: .5em 1em;
        font-weight: 600;
        color: $text_active;
      }

      & > button {
        margin: .5em 0;
        display: flex;
        align-items: center;
        gap: .5em;
        font-weight: 600;
        font-size: 14px !important;
        color: $text_innactive;
        background: none;
      }
    }
  }