@import './var.scss';

.top {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: .5em .8em;
    user-select: none;
    color: $text_innactive;

    button {
        color: inherit;
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: .1em .2em;

        &:hover {
            background: $main_mid;
        }
    }

    &__info {
        gap: .2em;
        font-size: 13px;
        display: flex;
        align-items: center;

        &-filename {
            font-weight: 600;
            border-radius: 4px;
            padding: .2em .4em;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: .3em; 
    }
}

.submenu {
    z-index: 10;
    right: .8em;
    top: 4em;
    width: 12em;
    position: fixed;
    height: fit-content;
    border: 1px solid $main_dark;
    border-radius: 4px;
    background: $main_light;
    color: $text_innactive;
    user-select: none;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.05);
    
    &__title {
        font-size: 14px;
        font-weight: 600;
        padding: .5em;
    }
    
    &__actions {
        width: 100%;
        border-top: 1px solid $main_dark;
        
        &-import {
            width: 100%;
            
            label {
                padding: .5em;
                font-weight: 600;
                font-size: 14px;
            }
        }

        &-export {
            width: 100%;
            
            button {
                padding: .5em;
                color: $text_innactive;
                font-weight: 600;
                font-size: 14px !important;
                text-align: left;

                pre {
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: 500;
                }
            }
        }        
    }

    &__info {
        width: 100%;
        border-top: 1px solid $main_dark;
        padding: .5em;

        li {
            list-style: none;
            font-weight: 600;
            font-size: 14px;
            width: 100%;
            padding: .3em 0;
            transition: .3s;

            svg {
                color: inherit;
                position: relative;
                margin-right: .4em;
                top: .18em;                
            }
            
            &:hover {
                color: $text_active;
            }
        }
    }
}