@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/katex@0.15.0/dist/katex.min.css');

// ----------------------------------------------------------------------------
// Variables needed to make the website
// also some normalize style for the web
// ----------------------------------------------------------------------------

// Light mode
$main_light: #FFFFFF;
$main_mid: #F7F6F3;
$main_dark: #E8E7E3;

$text_innactive: #19171199;
$text_active: #000000;

$shade_blue: #007DFF;
$shade_lightBlue: #C8E2FF;
$shade_lighterBlue: #D2E4F8;
$shade_red: #FF605C;
$shade_yellow: #FFBD44; 
$shade_green: #89CA00;

// ----------------------------------------------------------------------------
// Gruvbox scss file
// June 18 2017
// Author: Will Tanna
// ----------------------------------------------------------------------------
$gb-lm-dark-blue: #458588;
$gb-lm-light-blue: #93b8ba;
$gb-lm-dark-red: #e64a1f;
$gb-lm-dark-orange: #ff7316;
$gb-lm-light-orange: #ff9d5c;
$gb-lm-light-yellow: #f2bf5b;
$gb-lm-dark-green: #98971a;
$gb-lm-dark-aqua: #689d6a;
$gb-lm-dark-gray: #CCC0B3;
$gb-lm-dark-purple: #b16286;

* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

.App {
    height: 100vh;
    width: 100%;
    position: relative;
    background: $main_light;
    color: $text_active;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
    text-rendering: optimizeLegibility;
    image-rendering: optimizeSpeed;


    a {
        text-decoration: none;
        color: inherit;
    }
    
    button {
        font-size: inherit;
        font-family: inherit;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }

    label {
        cursor: pointer;
    }

    &__app {
        width: 100%;
        height: 100%;
        display: flex;

        &-left {
            z-index: 10;
            height: 100%;
            width: 20em;
            overflow: auto;
            transition: .3s ease-in-out;
        }
        
        &-left.disabled {
            width: 0;
        }
        
        &-right {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        
        .tooltip {    
            padding: .5em !important;
            color: $main_light !important;
            font-size: 12px !important;
            font-family: inherit !important;
            font-weight: 500 !important;
        }

        .notification {
            z-index: 10;
            bottom: 3em;
            left: 50%;
            position: fixed;
            padding: .4em 1em;
            transform: translateX(-50%);
            background: #202020;
            color: $main_light;
            border-radius: 4px;
    
            &__text {
                font-size: 14px;
                font-weight: 500;
            }
        }

        @media screen and (min-width: 320px) and (max-width: 480px) {
            &-left {
                position: fixed;
                width: 18rem;
            }

            .tooltip {
                display: none;
            }
        }
    }
}