@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

// ----------------------------------------------------------------------------
// Variables needed to make the website
// also some normalize style for the web
// ----------------------------------------------------------------------------

$main_light: #FFFFFF;
$main_mid: #F7F6F3;
$main_dark: #E8E7E3;

$text_innactive: #19171199;
$text_active: #000000;

$shade_blue: #007DFF;
$shade_lightBlue: #C8E2FF;
$shade_lighterBlue: #D2E4F8;
$shade_red: #FF605C;
$shade_yellow: #FFBD44; 
$shade_green: #89CA00;

// ----------------------------------------------------------------------------
// Gruvbox scss file
// June 18 2017
// Author: Will Tanna
// ----------------------------------------------------------------------------

// Background
$gb-lm-bg0: #fbf1c7;
$gb-lm-bg0-hard: #f9f5d7;
$gb-lm-bg0-soft: #f2e5bc;
$gb-lm-bg1: #ebdbb2;
$gb-lm-bg2: #d5c4a1;
$gb-lm-bg3: #bdae93;
$gb-lm-bg4: #a89984;

// Foreground
$gb-lm-fg0: #282828;
$gb-lm-fg1: #3c3836;
$gb-lm-fg2: #504945;
$gb-lm-fg3: #665c54;
$gb-lm-fg4: #7c6f64;

// Colors
$gb-lm-dark-red: #cc241d;
$gb-lm-dark-green: #98971a;
$gb-lm-dark-yellow: #d79921;
$gb-lm-dark-blue: #458588;
$gb-lm-dark-purple: #b16286;
$gb-lm-dark-aqua: #689d6a;
$gb-lm-dark-orange: #d65d0e;
$gb-lm-dark-gray: #928374;

$gb-lm-light-red: #9d0006;
$gb-lm-light-green: #79740e;
$gb-lm-light-yellow: #b57614;
$gb-lm-light-blue: #7ebbc7;
$gb-lm-light-purple: #8f3f71;
$gb-lm-light-aqua: #427b58;
$gb-lm-light-orange: #af3a03;
$gb-lm-light-gray: #7c6f64;

*, *::before, *::after {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}

.App {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    background: $main_light;
    color: $text_active;
    font-family: -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    button {
        font-size: inherit;
        font-family: inherit;
        outline: none;
        border: none;
        background: none;
        cursor: pointer;
    }

    label {
        cursor: pointer;
    }
    
    &__left {
        z-index: 10;
        height: 100%;
        width: 20rem;
        overflow: auto;
        transition: .3s ease-in-out;
    }
    
    &__left.disabled {
        width: 0;
    }
    
    &__right {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    
    @media screen and (min-width: 320px) and (max-width: 480px) {
        &__left {
            position: fixed;
            width: 18rem;
        }
    }
}