/* Dark Soft base color */
$ds-base-a: #3C464C; // Lightest
$ds-base-a: #2E3A42; // Lighter
$ds-base-b: #1F2930; // Normal
$ds-base-c: #182228; // Dark
$ds-base-d: #131B1F; // Darker

/* Dark Soft utills color */

/* Dark Soft syntax color */





















// Color pallete for light theme
.base {
    color: #FDFAE4; // Beige 
    color: #F7EDD2; // Cornsilk
    color: #EAD9B9; // Dutch White
    color: #CBBA9A; // Khaki Web
}

.texts {
    color: #5F6A79; // Black Coral
    color: #394956; // Charcoal 
}

.others {
    color: #B16286; // Mulberry
    color: #F57D7D; // Light Coral
    color: #F1563A; // Orange Soda
    color: #F0743A; // Mandarin 
    color: #F9C74F; // Maize Crayola
    color: #C2A83E; // Metallic Gold
    color: #98971A; // Citron
    color: #689D6A; // Russian Green
    color: #39A960; // Go Green
    color: #4CC977; // Emerald
    color: #0B7974; // Pine Green 
    color: #48B1AB; // Verdigris
    color: #55B6BB; // Maximum Blue Green
    color: #7A7FDB; // Violet Blue Crayola
}
 
 
 
 
 
 

